/* page.module.css */

.main {
  width: 100%;
  max-width: 1300px; /* Adjust as necessary */
  margin: 0 auto;
  padding: 0 10px; /* Add padding for smaller screens */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; /* Space between Main and Sidebar */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    display: none; /* Hide sidebar on smaller screens if necessary */
  }
}
